HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
../../.idea
*.idea/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
*.env

*.DS_Store
th-backend/.vaadin-node-tasks.lock
th-backend/node_modules/
th-backend/package-lock.json
th-backend/package.json
th-backend/src/main/frontend/generated/
th-backend/src/main/frontend/index.html
th-backend/tsconfig.json
th-backend/types.d.ts
th-backend/vite.config.ts
th-backend/vite.generated.ts
